@{
    ViewData["Title"] = "Home";
}

<body>

    <div class="container-fluid">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/queijoArtersanal.png" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/promocao.png" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/entrega.png" class="d-block w-100 img-fluid" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container my-5">

        <div class="row text-center align-items-center">

            <div class="icon-text">
                <i class="bi bi-shop"></i>
                <span>PRODUTOS ARTESANAIS</span>

                <div class="vertical-bar"></div> <!-- Barra vertical -->

                <div class="icon-text">
                    <i class="bi bi-truck"></i>
                    <span>RECEBA EM CASA</span>
                </div>

                <div class="vertical-bar"></div> <!-- Barra vertical -->

                <div class="icon-text">
                    <i class="bi bi-check-circle"></i>
                    <span>QUALIDADE APROVADA</span>
                </div>
            </div>
        </div>
    </div>
</body>